<h1>Create your bottle here</h1>

<br>

<form method='POST' action='/bottles/new'>
    <h4>Name:<input type='text' name='name'></h4><br>
    <h4>Grape:<input type='text' name='grape'></h4><br>
    <h4>Year:<input type='text' name='year'></h4><br>
    <h4>Location:<input type='text' name='location'></h4><br>
    <input type='submit' value='Submit'>
</form>