<h1>Login Please</h1>
<form method='Post' action='/login'>
    <input type='text'  name='username' value='Username'>
    <input type='text'  name='password' value='Password'>
    <input type='submit' value='Login'>
</form>