<h1>Welcome to your Wine Cellar!</h1>

<ul>
  <li><a href="/signup">Sign up</a></li>
  <li><a href="/login">Log in</a></li>

  <br>

  <a href="/index">Return to your Cellar if Already Logged In</a><br>
</ul>